
header >nav >a{color: #7D828F;
    font-family: League Spartan;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */;color: #7D828F;text-decoration: none;}
header >nav >a:hover{color: #1B1D23;text-decoration: underline;}
header{display: flex;justify-content: space-between;
   }
   .footerchild >nav >a{color: #7D828F;
    font-family: League Spartan;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */;text-decoration: none;}
    .footerchild >nav >a:hover{color: #1B1D23;}  
    .button2{width: 252px;
        height: 72px;
        flex-shrink: 0;
        background: #1B1D23;color: #FFF;
        text-align: right;
        font-family: League Spartan;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 138.889% */}
    .button2:hover{background-color: #60636D;}.footerchild >button{border: none;text-align: center;
        display: flex;
        gap: 20px;
        justify-content: center;
    align-items: center;background-color: #1B1D23;}
footer{background: #EEEFF4;}
.footerchild >nav >a{text-decoration: none;}

@media(width >375px){
    body{display: flex;align-items: center;
        justify-content: center;flex-direction: column;overflow-x: hidden;}
    header > nav{display: none;}
    header{display: flex;gap: 200px;}
    footer{width: 375px;
        height: 383px;
        flex-shrink: 0;display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;}
        .footerchild{display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;} 
            .footerchild >nav{display: flex;flex-direction: column;gap: 30px;}
            .button1{width: 120px;
                height: 120px;
                flex-shrink: 0;}
            .button2{margin-top: 20px;}
    footer{margin-top: 100px;}  
    .button1 {margin-top: -150px;} 
    .childcontent1{margin-top: 80px;}
    .childcontent1{margin-top: 80px;}
    .childcontent1 >img{width: 375px;
        height: 240px;
        flex-shrink: 0;object-fit: cover;filter: brightness(0.7);}
        .text >.firsth1 {display: none;}
.text{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.text >h1{color: #1B1D23;
    font-family: League Spartan;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 108.333% */
    letter-spacing: -1.2px;width: 311px;}
    .text >p{color: #60636D;
        font-family: League Spartan;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */;width: 311px;}
        .text{width: 343px;margin-top: -50px;position: absolute;background-color: white;}

        hr{width: 65px;
            height: 1px;
            flex-shrink: 0;background: #C8CCD8;border: none;margin-left: -5px}
.mapimage >img{width: 100%;}

.textcontent{margin-top: 350px;display: flex
    ;align-items: center;
justify-content: center;flex-direction: column;text-align: left;}
.textcontent >h1{color: #1B1D23;
    font-family: League Spartan;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 108.333% */
    letter-spacing: -1.714px;
    width: 211px;margin-left: -100px;}
    .textcontent1 >h1{color: #60636D;
        font-family: League Spartan;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px; /* 194.444% */}
        .textcontent1 >p{color: #60636D;
            font-family: League Spartan;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 133.333% */;width: 311px;}
            .textcontent1 >h2{color: #1B1D23;
                text-align: right;
                font-family: League Spartan;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 25px; /* 138.889% */}

                .textcontent2 >h1{color: #60636D;
                    font-family: League Spartan;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 35px; /* 194.444% */}
                    .textcontent2 >p{color: #60636D;
                        font-family: League Spartan;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 133.333% */;width: 311px;}
                        .textcontent2 >h2{color: #1B1D23;
                            text-align: right;
                            font-family: League Spartan;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 25px; /* 138.889% */;}
       .inputs input{width: 311px;
            height: 44px;
            flex-shrink: 0;border-top: none;border-left: none;
            border-right: none;display: flex;color: #C8CCD8;
            font-family: leauge Spartan;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.312px;}
            .inputs label{color: #C8CCD8;
                font-family: Spartan;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.312px;}
                .content4> h1{color: #1B1D23;
                    font-family: League Spartan;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 52px; /* 108.333% */
                    letter-spacing: -1.714px;width: 200px;}
.inputs >button{width: 80px;
    height: 80px;
    flex-shrink: 0;border: none;margin-left: 230px;margin-top: -26px;}
           .mapimage{margin-top: 40px;} 
           .mapimage >img{width: 100%;
            height: 390px;
            flex-shrink: 0;overflow-x: hidden;object-fit: cover;}

            }
        









@media(width >768px){
    .icon{display: none;}
    header >nav{display: flex;margin-top: 30px;gap: 40px;margin-left: -80px;}
    .footerchild{        flex-shrink: 0;}
.footerchild > .button1 >svg{font-size: 20px;}
.footerchild >nav{flex-direction: row;}
footer{margin-left: -200px;}
.button1 {margin-top: 5px;margin-left: -110px;}
.button2{margin-right: -718px;position: absolute;}
.footerchild >nav{margin-left: 20px;}
footer{width: 612px;
height: 120px;
flex-shrink: 0;}  
.footerchild {flex-direction: row;width: 612px;
height: 120px;
flex-shrink: 0;} 
.childcontent1 >img{width: 573px;
    height: 720px;
    flex-shrink: 0;}
    .text{width: 572px;
        height: 331px;
        flex-shrink: 0;margin-left: 70px;margin-top: -300px;}
.text >h1{color: #1B1D23;
    font-family: League Spartan;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 88.889% */
    letter-spacing: -2px;width: 456px;
    height: 133px;}
    .text >p{color: #60636D;
        font-family: League Spartan;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */;width: 455px;}
    .text> .firsth1{display: flex;
        text-align: right;
        font-family: league Spartan;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 200px; /* 166.667% */
        letter-spacing: -3px;color: #EEEFF4;margin-top: -20px;}   
.row{width: 65px;
    height: 1px;
    flex-shrink: 0;background: #C8CCD8;margin-left: 60px;}
    .textcontent >h1{margin-left: -330px;}
.textcontent1 >h1{margin-left: -200px;}

.textcontent1 >p{margin-left: -200px;}
.textcontent2 >h1{margin-left: -200px;}

.textcontent2 >p{margin-left: -200px;}

.inputs >input{width: 572px;
    height: 44px;
    flex-shrink: 0;}
.inputs >button{margin-left: 420px;margin-top: -2px;}

}



@media(width >1400px){
    header >nav{margin-left: -900px;}
    .button1{width: 200px;
        height: 200px;
        flex-shrink: 0;margin-top: 80px;margin-left: -500px;margin-top: -1px;}
    
        .button2 {margin-left: 300px;margin-top: 60px;}
        .footerchild >nav{margin-top: 50px;margin-left: 90px;}
        footer{margin-top: 300px;width: 984px;
            height: 200px;
            flex-shrink: 0;}
            .childcontent1 >img{width: 635px;
                height: 720px;
                flex-shrink: 0;margin-left: -600px;}
                .text{margin-left: -200px;margin-top: -500px;
                    width: 793px;
                    height: 503px;
                    flex-shrink: 0;margin-left: -140px;}
                    .text >.firsth1{color: #EEEFF4;
                        text-align: right;
                        font-family: League Spartan;
                        font-size: 250px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 200px; /* 80% */
                        letter-spacing: -5px;margin-left: -300px;}
header >img{margin-left: -600px;}

.textcontent{flex-direction: row;gap: 300px;margin-left: 300px;}
.childtext{display: flex;flex-direction: row;gap: 300px;}
.mapimage >img{width: 1274px;
    height: 631px;
    flex-shrink: 0;margin-top: 100px;}
.content4{flex-direction: row;display: flex;gap: 100px;margin-top: 100px;}
footer{margin-left: 100px;}

}
